<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet"/>
    <!--&lt;!&ndash; Google Fonts&ndash;&gt;-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <!--<link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">-->
</head>

<body>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" th:href="@{/}"><i
                    class="large material-icons">insert_chart</i>
                <strong>Lger 会员系统</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>
        <!--用户登录信息-->
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#" data-activates="dropdown1"><i
                    class="fa fa-user fa-fw"></i> <b th:unless="${session.admin == null}" th:text="${session.admin.username}"></b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </nav>
    <!--用户登录栏的具体信息-->
    <ul id="dropdown1" class="dropdown-content">
        <li><a th:href="@{/myAccount}"><i class="fa fa-user fa-fw"></i>我的账户</a>
        </li>
        <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a>
        </li>
    </ul>
    <!--侧边栏-->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu waves-effect waves-dark" th:href="@{/}"><i class="fa fa-dashboard"></i>
                        首页</a>
                </li>
                <!--会员管理栏-->
                <li>
                    <a href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-user"></i>会员管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/addMember}">添加会员</a>
                        </li>
                        <li>
                            <a th:href="@{/queryMember}">查询会员</a>
                        </li>
                        <li>
                            <a th:href="@{/memberGrade}">会员类别</a>
                        </li>
                        <li>
                            <a th:href="@{/modifyMemberState}">会员状态修改</a>
                        </li>

                        <li>
                            <a href="#">会员消费<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a th:href="@{/integralExchange}">积分兑换</a>
                                </li>
                                <li>
                                    <a th:href="@{/balanceRecharge}">余额充值</a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a th:href="@{/deleteMember}">会员注销</a>
                        </li>
                    </ul>
                </li>
                <!--礼品栏-->
                <li>
                    <a href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-gift"></i>礼品消费<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/setGift}">礼品设置</a>
                        </li>

                        <li>
                            <a th:href="@{/modifyGiftNumber}">数量修改</a>
                        </li>

                        <li>
                            <a th:href="@{/exchangeRecord}">兑换记录</a>
                        </li>
                    </ul>
                </li>
                <!--商品消费-->
                <li>
                    <a href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-yen"></i>商品消费<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/addCommodity}">添加商品</a>
                        </li>

                        <li>
                            <a th:href="@{/modifyCommodity}">商品修改</a>
                        </li>

                        <li>
                            <a th:href="@{/purchaseCommodity}">商品购买</a>
                        </li>

                        <li>
                            <a th:href="@{/transactionRecord}">积分记录</a>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>

    </nav>
    <!--内容主体-->
    <div id="page-wrapper">
        <!--内容主题-->
        <div class="header">
            <h1 class="page-header">
                系统简介
            </h1>
        </div>
        <div id="page-inner">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">宁夏河东机场贵宾服务管理系统</span>
                    <img src="assets/icon/hy.jpg" class="img-thumbnail">
                    <p>河东国际机场（以下简称“银川河东国际机场”）始建于1995年，1997年9月6日正式通航，机场占地面积8600余亩，海拔1100米，距银川市中心19公里，属国内干线机场。目前，机场飞行区等级为4E级，跑道长3600米、宽45米，可满足除全球最大客机空客A380和波音B747-800外的所有机型起降，现有航站楼12.9万平方米，13900平方米的货运库，站坪约38.65万平方米，拥有47个停机位，22部登机廊桥；预计保障可满足2020年飞行起降10万架次、旅客吞吐量1500万人次、货邮吞吐量10万吨的保障需求。机场综合交通枢纽预计明年投用，可满足大巴、出租车及私家车等约2723辆停车需求，银川将成为西北地区唯一接入国家高铁路网系统的机场，届时将实现空地联运、空铁联运，全面提升银川河东国际机场区域辐射能力、资源聚集能力和综合保障能力，努力为自治区推进“三大战略”，打造丝绸之路经济带战略支点作出新的贡献。
                        </p>
                    <p>围绕区域支线航空枢纽和中西亚门户枢纽 “双枢纽”战略愿景和“西部一流机场”发展目标，银川河东国际机场在航空运输、基本建设、服务品质、基础管理等方面取得了较好的成绩。据最新统计，银川河东国际机场年旅客吞吐量从2015年突破500万人次起，增长至2018年895万人次，年均增速17.6%，连续四年实现百万量级跨越，市场规模不断扩大。运营航空公司达到28家，通航城市达到84个，航线89条，航线网络不断完善。预计2020年，银川河东国际机场年旅客吞吐量有望突破2000万人次。</p>
                </div>

            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
            <footer><p class="text-center">Copyright &copy; 2017.Company name All rights reserved.</p></footer>
        </div>

    </div>
</div>

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>

<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>


</body>

</html>