<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet"/>
    <!--&lt;!&ndash; Google Fonts&ndash;&gt;-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <!--<link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">-->
    <style>
        .modal {
            background-color: #76767600;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
            height: 100%;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div th:insert="~{ment::ment}"></div>
    <!--内容主体-->
    <div id="page-wrapper">
        <!--内容主题-->
        <div class="header">
            <h1 class="page-header">
                服务订单
            </h1>
        </div>
        <div id="page-inner">
            <div class="card">
                <div class="card-content">
                    <div id="toolbar">
                        <div id="dataTables-example_filter" class="dataTables_filter"><label>搜索会员账号:
                            <input onkeydown="if(event.keyCode===13) loadData();" id="search" type="search"
                                   class="form-control input-sm" aria-controls="dataTables-example"></label></div>
                    </div>

                    <div class="table-demo">
                        <table id="table"
                               class="table table-striped table-bordered table-hover dataTable no-footer"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/materialize/js/materialize.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>

<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>


<link href="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.css" rel="stylesheet"/>
<script src="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.js"></script>


<script>
    //设置需要显示的列
    var columns = [
        {
            field: "id",
            title: 'ID'
        }, {
            field: "memberID",
            title: 'memberID'
        },
        {
            field: "serviceItem",
            title: '服务项'
        }, {
            field: "createtime",
            title: '创建时间'
        }
    ];

    var data = [ {
        "id": "0",
        "memberID":"",
        "serviceItem":"",
        "createtime":""
    }];

    $('#table').bootstrapTable({

        data: data,
        columns: columns,
        cardView: true,
        onClickRow:function(row, $element, field)
        {
            alert("选择了"+row.memberName);

        }
    });



    function loadData() {
        var memberName = document.getElementById('search').value;
        $.ajax({
            url: '/queryItem',
            dataType: 'JSON',
            type: 'get',
            data: {id: memberName},
            success: function (data) {
                var newData = data;
                $('#table').bootstrapTable('load', newData);

            }
        });
        // $('#table').bootstrapTable('load', newData);
    }


</script>
</body>
</html>