<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet"/>

    <link rel="stylesheet" href="201508261557/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="201508261557/css/build.css" />

    <!--&lt;!&ndash; Google Fonts&ndash;&gt;-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <!--<link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">-->
    <style>
        .modal {
            background-color: #76767600;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
            height: 100%;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div th:insert="~{ment::ment}"></div>
    <!--内容主体-->
    <div id="page-wrapper">
        <!--内容主题-->

        <div class="header">
            <h1 class="page-header">
                个人信息
            </h1>
        </div>
        <div id="page-inner">
            <div class="card">
                <div class="card-content">

                        <div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="1" value="1" name="radioInline">
                                <label for="1"> 1 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="2" value="2" name="radioInline">
                                <label for="2"> 2 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="3" value="3" name="radioInline">
                                <label for="3"> 3 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="4" value="4" name="radioInline">
                                <label for="4"> 4 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="5" value="5" name="radioInline">
                                <label for="5"> 5 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="6" value="6" name="radioInline">
                                <label for="6"> 6 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="7" value="7" name="radioInline">
                                <label for="7"> 7 </label>
                            </div>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="8" value="8" name="radioInline">
                                <label for="8"> 8 </label>
                            </div>
                        </div>
                        <textarea class="form-control" id="deblock_udid" name="deblock_udid" rows="5"
                                  style="max-width: 80%"></textarea>

                        <button type="submit" class="btn btn-success" id="but" onclick="butService()">提交</button>
                    </div>

            </div>
        </div>
    </div>
</div>




<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/materialize/js/materialize.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>

<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>

<script>
    function butService() {
        var radio = $("input[name='radioInline']:checked").val();
        var deblock_udid = $("#deblock_udid").val();
        $.ajax({
            url: '/saveAsscess',
            dataType: 'JSON',
            type: 'post',
            data: { level: radio, asscess: deblock_udid },
            success: function (data) {
                alert('成功');
            }
        });
    }
</script>

</body>
</html>